.selector-for-some-widget{
    box-sizing: content-box;
}
h1 { 
    position: relative;
    margin: 23px;
    text-align: center;
}

h2{
    text-align: center;
}

h4{ text-align: center;
    margin: 13px;
    padding: 34px;
    border-radius: 5px;
    background: solid 1px black;
    background-color: brown;

}
#titreFormulaire{
    padding: 25px;
    border-color: brown;
}

#logo{
    margin: auto;
    position: relative;
    height: 50%;
    width: 50%;
}

#rechercheDoc{
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
}

#formulaire {
       text-align: center;
        width: 100%;
}

#tableauResa th td{
    margin: 100px;
    padding: 0px;
}
input{
    margin: 0px;
    padding: 0px;
}
input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  /* When the input field gets focus, change its width to 100% */
  input[type=text]:focus {
    width: 100%;
  }

.btn{
    display: inline;
}

.p{
    text-align: center;
}

googleMap{
    position: absolute;
}



  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
 
#footer{
      background-color: #3D3D3D;
      position: absolute;
      margin-bottom: 50px;
  }

#creer{
  float: right;
  margin-bottom: -10px;
}

#modif{
  justify-content: space-between;

}

#inscription{
  background-color: #3D3D3D;
  padding: 50%;
  border-radius: 8px;
}


#img{
  text-align: center;
<<<<<<< HEAD
  width:20%;
=======
  width:50%;
>>>>>>> ccc2c5a2d7941dd7007844ff8033468f43f559fb
  height:auto; 
  border-radius: 50%;
}

<<<<<<< HEAD
#logo{
  width: 20%;
}


=======
ul#menu-v, #menu-v ul
{
    width:20px; /* Main Menu width */
    border:1px solid #CCCCCC;
    list-style:none; margin:0; padding:0;
    z-index:9;
}     

#menu-v li
{
    margin:0;padding:0;
    position:relative;    
    background-color:#EEEEEE; /*fallback color*/
	background-color:rgba(255,255,255,0.8);
    transition:background 0.5s;
}
#menu-v li:hover
{
    background-color:rgba(255,255,255,0.5);
}

#menu-v a
{
    font:normal 12px Arial;
    border-top:1px solid #CCCCCC;
    display:block;
    color:#444444;
    text-decoration:none;
    line-height:26px;
    padding-left:22px; 
    position:relative;           
}

#menu-v li:first-child a
{
    border-top:0;
}

#menu-v a.arrow::after{
    content:'';
    
    display:inline;
    top:50%;
    margin-top:-4px;
    right:8px;
    border-width:4px;
    border-style:solid;
    border-color:transparent transparent transparent black;
    transition:border-color 0.5s;  
}
                
#menu-v li a.arrow:hover::after
{
    border-color:transparent transparent transparent red;
}
        
/*Sub level menu items
---------------------------------------*/
#menu-v li ul
{
    min-width:18px; /* Sub level menu min width */
    position:absolute;
    display:none;
    left:100%;
    top:0;
}

#menu-v li:hover > ul
{
    display:block;
}
>>>>>>> ccc2c5a2d7941dd7007844ff8033468f43f559fb


