.selector-for-some-widget{
    box-sizing: content-box;
}
h1 { position: relative;
    margin: 23px;
    text-align: center;
}

h2{
    text-align: center;
    margin-left: 210px;
}

h4{
    margin: 13px;
    padding: 34px;
    border-radius: 5px;
    background: solid 1px black;
    background-color: brown;

}
#titreFormulaire{
    padding: 25px;
    border-color: brown;
}

#logo{
    margin: 0px;
    position: relative;
    height: 15%;
}

#rechercheDoc{
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
}

#formulaire {
        margin-left: 21px;
        padding-left: 21px;
        width: 100%;
}
