.selector-for-some-widget{
    box-sizing: content-box;
}
h1 { 
    position: relative;
    margin: 23px;
    text-align: center;
}

h2{
    text-align: center;
}

h4{ text-align: center;
    margin: 13px;
    padding: 34px;
    border-radius: 5px;
    background: solid 1px black;
    background-color: brown;

}
#titreFormulaire{
    padding: 25px;
    border-color: brown;
}

#logo{
    margin: auto;
    position: relative;
    height: 50%;
    width: 50%;
}

#rechercheDoc{
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
}

#formulaire {
       text-align: center;
        width: 100%;
}

#tableauResa th td{
    margin: 100px;
    padding: 0px;
}
input{
    margin: 0px;
    padding: 0px;
}
input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  /* When the input field gets focus, change its width to 100% */
  input[type=text]:focus {
    width: 100%;
  }

.btn{
    display: inline;
}

.p{
    text-align: center;
}

googleMap{
    position: absolute;
}



  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
 
#footer{
      background-color: #3D3D3D;
      position: absolute;
      margin-bottom: 50px;
  }

#creer{
  float: right;
  margin-bottom: -10px;
}

#modif{
  justify-content: space-between;

}

#inscription{
  background-color: #3D3D3D;
  padding: 50%;
  border-radius: 8px;
}


#img{
  text-align: center;
  width:20%;
  height:auto; 
  border-radius: 50%;
}

#logo{
  width: 20%;
}




